@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #1d1d1d;
  --did-secondary-shades-800: #1d1d1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

html {
  height: 100%;
  background-color: #f9f9f9;
}

::selection {
  background-color: #ff882e;
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), "Manrope", sans-serif;
}

body * {
  font-family: var(--font-manrope), "Manrope", sans-serif;
  text-align: center;
  color: rgb(9, 6, 4);
  margin: 0;
  padding: 0;
}
